/* body font */

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* header */
.header{
    background-image: url('/images/developer.png'), url('/images/header_bg.png');
    background-position: top left , right bottom;
    background-repeat: no-repeat;
    
}
/* shared style */
.text-center{
    text-align: center;
}
.text-primary{
    color: #FD6E0A;
}
.bg{
    background-color: #FFF8F3;
}
.dark-1{
    color: #181818;
}
.dark-2{
    color: #474747;
}
.dark-3{
    color: #757575;
    
}
.btn{
    border-radius: 5px;
    background-color: #FD6E0A;
    color: #ffff;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bolder;
    margin-right: 50px;
}
/* nav style */
nav{
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 0px 200px;
}
.nav-title{
    font-weight: bolder;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 51px;
}
nav ul li a{
    text-decoration: none;
}
/* banner */
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 35px 0px 200px;
}
.banner-content{
    max-width: 585px;
    max-height: 356px;
}
.banner-img{
    width: 584px;
    height: 676px;
}
.gritting{
    font-weight: 600px;
    font-size: 45;
    margin-bottom: 5px;
}
.name{
    font-size: 45px;
    font-weight: bold;
    margin-bottom:20px ;
}
.description{
    font-size: 18px;
    font-weight: 400px;
    margin-bottom: 30px;
}

/* main styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* section styles */
.about{
    padding: 130px 156px;
    border-radius: 10px;
    margin-top: 130px;
}
.about-me{
    text-align: center;
    background-color: #ffff;
}
.about-title{
    font-size: 35px;
    font-weight: bold;
}
.about-description{
    font-size: 18px;
    font-weight: 400px;
}
.about-items{
    display: flex;
    justify-content: space-around;
    
}
.item-title{
    font-size: 20px;
    font-weight: 400px;
}
.item-des{
     font-size: 20px;
    font-weight: 500px;
}

/* skill section styles */

.section-title{
    font-weight: bold;
    font-size: 35px;
}
.section-des{
    font-weight: 400px;
    font-size: 18px;
    margin: 30px 150px 50px;
}
.skills-box{
    display: flex;
    gap: 24px;
}
.skills{
    padding: 30px;
    box-shadow: 0px 6px 50px 0 rgba(0, 0, 0, 0.06);
}
.skill-title{
    font-weight: bold;
    font-size: 20px;
}
.skill-des{
    font-weight: 400px;
    font-size: 16px;
}
/* resume section */
.resume{
    margin: 30px 10px;
}
.resume-title{
    font-weight: bold;
    font-size: 35px;
}
.resume-container{
    display: flex;
    gap: 24px;
}
.resume-column-title{
    font-weight: bold;
    font-size: 30px;
    }
.experience-title{
    font-weight: bold;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 0px;
}
.experience-sub-title{
    font-weight: 600px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.experience-des{
    font-weight: 400px;
    font-size: 16px;
    margin-bottom: 30px;
}
.resume hr{
    margin-top: 30px;
    margin-bottom: 30px;
}
.resume-button{
    margin: 30px;
}
